        body{
            display : table; margin-left: auto; margin-right: auto;
            text-align : center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #010e20;
            color:aliceblue;
            
        }
        .cardImage{
            width: 50%;
            max-width: 400px;
        }
        #pageTopTitle{
            margin: 30px;
        }
        p{
            margin:0;
        }
        h1{
            margin:0;
        }
        .topics{
            margin: 30px;
            max-width: 600px;
        }
        #pageFoot{
            margin: 30px;
            display : grid;
            grid-template-columns: 1fr 1fr;
        }
        .footTitle{
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 20px;
        }
        .foots{
            margin:10px;
            padding: 5px;
            background-color: snow;
            color: #0b0417;
        }
        ul{
            margin: 10px ;
            line-height: 200%;
        
        }
