@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


        body{            
            text-align : center;
            font-family:'NOTO SANS KR';
            background-image: linear-gradient(170deg, #E784B3 30%, #D4B1EB);
            background-position-x : center;
            background-repeat: no-repeat;
            color:#222222;
            
        }
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 20px;
        }
        .cardImage{
            width: 50%;
            max-width: 400px;
        }
        #pageTopTitle{
            margin: 30px;
        }

        #pageMiddle{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .topics{
            margin: 30px;
            max-width: 400px;
            padding : 30px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        #pageFoot{
            margin: 30px;
            display : grid;
            justify-content: center;
            grid-template-columns: 200px 200px;
        }
        .footTitle{
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 20px;
        }
        .foots{
            margin:10px;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            color: #0b0417;
        }
        ul{
            margin: 10px ;
            line-height: 200%;
        
        }
        li{
            text-align: left;
        }
        button{
            border: 0;
            font-family:"NOTO SANS KR";
            background-color: yellow;
            padding : 5px 15px 5px 15px;
            border-radius: 5px;
        }
