@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


        body{            
            text-align : center;
            font-family:'UhBeemysen';
            color:#333333;

        }
        h1{
            margin: 0;
            font-size: 50px;
        }
        h2{
            margin: 0;
            font-size: 35px;
        }
        .cardImage{
            width: 50%;
            max-width: 400px;
        }
        #pageTopTitle{
            margin-top: 30px;
            background: url("/img/answerBox1.png") no-repeat;
            background-size: 400px 150px;
            background-position: center;
        }

        #pageMiddle{
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .topics{
            font-size: 20px;
            max-width: 400px;
            padding : 0 30px 0 30px;

        }
        .topics,h2{
            margin: 20px
        }
        #pageFoot{
            padding: 30px 0 30px 0;
            display : grid;
            justify-content: center;
            grid-template-columns: 200px 200px;
            background: url("/img/answerBox2.png") no-repeat;
            background-size: 500px 260px;
            background-position: center;
        }
        .footTitle{
            margin-bottom: 10px;
            font-size: 30px;
        }
        .foots{
            margin:0 10px 0 10px;
            padding: 5px;
            border-radius: 5px;
            color: #0b0417;
        }
        ul{
            margin: 10px ;
            line-height: 100%;
            list-style-image: url("/img/ulDot.png");
            font-size: 30px;
        
        }
        li{
            text-align: left;
            font-size:20px;
        }
        button{
            border: 0;
            font-family:'UhBeemysen';
            background-color: snow;
            padding : 5px 15px 5px 15px;
            border-radius: 5px;
            margin-bottom: 100px;
            font-size: large;
        }
