@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

html{
    overflow: hidden;
}
body{
    text-align: center;
    font-family: 'UhBeemysen';
    height: 100vh;
    background-position-x : center;
    background-repeat: no-repeat;
    color: #333333;
}
#indexImage{
    width : 80%;
    
    max-width: 200px;
    position : absolute;
    left : 50%; top : 37%;
    transform: translateX(-50%) translateY(-50%);
}
#indexSub{
    font-size: 20px;
}
#indexMain{
    margin-top: 30px;
    font-size: 25px;
}
#indexFoot{
    position: absolute;
    bottom: 20px;
    left: 50%; transform: translateX(-50%);
    color: #333333;
    font-size:10px;
}
button{
    margin-top : 15px;
    font-family: 'UhBeemysen';
    font-size: 30px;
    border-radius: 4px;
    background-color: snow;
    color:#333333;
    border: 0;
    padding: 20px 100px;
    touch-action: auto;
}