@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    text-align:center;
    font-family:IBMPlexSansKR-Bold;
    background-image: url("../mainpageSample.png");
    background-position-x : center;
    background-size: 120%;
    background-repeat: no-repeat;
    background-color: #0b0417;
    color:aliceblue;
}
#indexTitle{
    font-size: 30px;
}
#indexTitle{
    margin-top: 50px;
}
#indexMain{
    margin-top: 100px;
    font-size: 20px;
}
#indexFoot{
    position: absolute;
    bottom: 20px;
    left: 50%; transform: translateX(-50%);
}
button{
    font-size: 20px;
    border-radius: 4px;
    background-color: aliceblue;
    color:#010e20;
    border: 0;
    padding: 15px 30px;
}
Button:active{
    background-color: #010e20;
    color: snow;
}