


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html{
    overflow: hidden;
}
body{
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    background-image: linear-gradient(170deg, #E784B3 30%, #D4B1EB);
    background-position-x : center;
    background-repeat: no-repeat;
    color:snow;
}
#indexImage{
    position: absolute;
    left:50%; bottom: 350px;
    transform: translateX(-50%);
    width: 250px;
}
#indexSub{
    font-family: 'NotoSerifKR';
    font-size: 15px;
}
#indexMain{
    margin-top: 30px;
    font-size: 25px;
}
#indexFoot{
    position: absolute;
    bottom: 20px;
    left: 50%; transform: translateX(-50%);
    color: #333333;
    font-size:10px;
}
button{
    margin-top : 15px;
    font-family: 'NotoSerifKR';
    font-size: 20px;
    border-radius: 4px;
    background-color: snow;
    color:#D4B1EB;
    border: 0;
    padding: 20px 100px;
    touch-action: auto;
}