@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h2{
    font-weight: 500;
    font-size: 15px;
}
html{
    font-family: IBMPlexSansKR-Bold;
    background-color: rgb(234,202,56);
    overflow: hidden;
 }
    body{
        margin: 50px;
    }
    #answerBox{
        position : absolute ;
        bottom: 100px ;
        left: 0px;
        width : 250px;
        display : flex;
        background-color: #EEEEEE;
        box-shadow:inset 10px 10px 10px #CCCCCC;
        border-radius: 0 15px 15px 0;
        padding: 15px;
        z-index: 2;
 
    }
    #imageSimbol{
        position: absolute;
        top: -10%;
        right: -250px;
        z-index: -1;
        height: 1200px;

        animation: loading 1s ease-out;
    }
    @keyframes loading {
        0% {
            transform: translateX(30%);
        }
        100% {
            transform: translateX(0);
        }
    }
    .selectButton{
        font-family: IBMPlexSansKR-Bold;
        border:0;
        background-color: rgb(208, 84, 54);
        text-align: left;
        width : 120px ;
        height : 175px;
        font-size : 18px;
        border-radius: 10px;
        padding : 15px;
        box-shadow: 10px 10px 10px #CCCCCC;
        touch-action: auto;
    }
    .selectButton:first-child{
    margin-right:15px;
    }