@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


html{
    height: 100vh;
    color:#333333;
    overflow: hidden;
 }
body{

    font-family: 'UhBeemysen';
}
h1{
    position: absolute;
    left: 50%; bottom: 45%;
    transform: translateX(-50%);
    width: max-content;
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}
    #answerBox{
        position : absolute ;
        bottom: 15% ;
        left: 50%;
        transform: translateX(-50%);
        width : 80%;
        display : flex;
        flex-direction: column;
        align-items: center;
 
    }
    #progressBar{
        width: 300px;
        position: absolute;
        left: 50%; top: 27%;
        transform: translateX(-50%) translateY(-50%);
    }
    hr{
        border: solid 1.5px #666666; width: 300px;

    }
    #candyIcon{
        width: 80px;
        position: absolute;
        transform: translateY(-30%) translateX(-30px) rotateZ(-30deg);

    }
    .selectButton{
        border:0;
        color: #333333;
        font-family: 'UhBeemysen';
        text-align: center;
        width : max-content;
        min-width: 300px;
        height : max-content;
        font-size : 25px;
        padding : 10px;
        touch-action: auto;

    }

    .selectButton:first-child{
    margin-bottom : 10px;
    background: url("/img/answerBox1.png") no-repeat;
    background-position: center;
    background-size: contain;
    }

    .selectButton:nth-child(2){
    background: url("/img/answerBox2.png") no-repeat;
    background-position: center;
    background-size: cover;
    }